HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Carpeta de node_modules
node_modules/

# Carpeta de distribución de Electron
dist/

# Archivos de registro de depuración de Electron
*.log

*.properties
*.xml
*.yml

# Archivos de respaldo y caché
*~
*.swp
.DS_Store
Thumbs.db
# IntelliJ IDEA
.idea/

# Maven
.mvn/

package-lock.json
package.json
