<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registro de usuarios</title>
</head>
<body>
	<div>
		<div>
			<div>
				<div th:if=${param.exito}>
					<div>Se ha registrado exitosamente a
						la aplicación</div>
				</div>

				<h1>Regístrate</h1>
				<form th:action="@{/registro}" method="post" th:object="${usuario}">
					<div>
						<label for="nombre">Nombre : </label> <input
							id="nombre" type="text" th:field="*{nombre}"
							required autofocus="autofocus">
					</div>

					<div>
						<label for="apellido">Apellido : </label> <input
							id="apellido" class="form-control" th:field="*{apellido}"
							required autofocus="autofocus">
					</div>

					<div>
						<label for="email">Email : </label> <input
							id="email" type="email" th:field="*{email}"
							required autofocus="autofocus">
					</div>

					<div>
						<label for="password">Password : </label> <input
							type="password" id="password" th:field="*{password}"
							required autofocus="autofocus">
					</div>

					<div>
						<button type="submit">Registrar</button>
						<span>Si estas registrado <a th:href="@{/login}">inicia sesión aqui</a></span>
					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>














