* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
  font-weight: 400;
}

body { /*cuerpo de la pagina*/
  font-size: 1.5vh;
  line-height: 1.5;
  color: #333;
  background-color: #9E71FF;
  height: 100vh;
  margin: 0;
  color: white;
  
}
.home{ /*home de inicio.html*/
  display: flex;
  justify-content: center;
}
.homeop{ /*home de Inicio_opciones_usuario.html*/
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.inicioOp{ /*div de los logos de inicio.html*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.logoinicio{ /*logo de EVA*/
  width: 60vh;
  transition: transform 0.5s ease;
}

.logoinicio:hover{  /*animación que al ponerle el mouse encima se agranda el logo de EVA*/
  transform: scale(1.1);
}
.logoinicio1{ /*logo de EVA sin animación*/
  width: 60vh;
}

.textoinicio{
  display: flex;
  margin: 2vh;
}

.textoinicio a{
  display: flex;
  margin-inline: 10vh;
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}

.textoinicio a:hover{
  display: flex;
  margin-inline: 10vh;
  text-decoration: none;
  color: #FFD600;
}

.redes{
  display: flex;
  
}
/*logos de redes sociales*/
.wp{ 
width: 4vh;
height: auto;
}
.fb{
  width: 4vh;
  height: auto;
}
.ig{
  width: 4vh;
  height: auto;
}



