* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #9E71FF;
}

#logoeva {
    display: block;
    margin-top: auto;
    margin-right: 10px ;
    max-width: 100%;
    height: 400px;
    float: left;
  }

<<<<<<< Updated upstream
#logobabies {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    max-width: 100%;
    height: 400px;
    float: right;
  }
=======
.texto_inicio_empleado h1{ /*Texto inicio sesion empleado*/

  text-align: center;

    
}





>>>>>>> Stashed changes
