<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EVA - Usuarios</title>
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>

  <body>
    <section class="homecitas">
      <div class="textobarra">
        <img
          class="logobarra"
          src="../../imagenes/logo-eva.png"
          alt="logo-eva"
        />
        <a href="./adminusuarios.html">
          <h1 class="negrilla">Gestión de usuarios</h1>
        </a>
        <a href="./historialcitasadmin.html">
          <h1>Historial de Citas</h1>
        </a>
        <a href="./historialventasadmin.html">
          <h1>Ventas</h1>
        </a>
        <a href="./inventario.html">
          <h1>Inventario</h1>
          <br /><br /><br />
        </a>
        <a href="../../index.html">
          <h1>Cerrar sesión</h1>
        </a>
        <div class="barraadmin"></div>
      </div>

      <div class="tabla">
        <label class="buscadorusuario">
        <input type="text" class="buscadorusuarioinput" placeholder="Buscar el usuario">
        <button type="submit" class="lupita">
          <img src="../../imagenes/lupa.png">
        </button>
          </label>
        <table class="la_tabla">
          <thead>
          <tr>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>OPCION</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user: ${users}">
            <td th:text="${user.nombre}"></td>
            <td th:text="${user.correo}"></td>

            <td class="action-buttons">
              <div class="img1div">
                <img id="editaruser"
                        src="../../imagenes/PencilSimple.png"
                        alt="Editar"
                />
              </div>
              <div class="img2div">
                <img src="../../imagenes/Trash.png" alt="Eliminar" />
              </div>
            </td>
          </tr>


          </tbody>
        </table>

      </div>
    </section>
  </body>
</html>
