* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

body {
  /*cuerpo de la pagina*/
  font-size: 1.5vh;
  line-height: 1.5;
  color: #333;
  background-color: #ffffff;
  height: 100vh;
  margin: 0;
  color: rgb(0, 0, 0);
  background-image: url("../imagenes/fondoBebe.png");
  background-position: center top; /* Posición centrada en la parte superior */
  background-repeat: no-repeat; /* No se repite la imagen */
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
}

.home {
  /*home de inicio.html*/
  display: flex;
  justify-content: center;
}
.homeop {
  /*home de Inicioeva.html*/
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.homecitas {
  /*home de agendarcita.html*/
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.barra {
  display: flex;
  border-left: 0.6vh solid #ffd600;
  height: 90vh;
  border-top-left-radius: 0.2vh;
  border-bottom-left-radius: 0.2vh;
  border-top-right-radius: 0.2vh;
  border-bottom-right-radius: 0.2vh;
  width: 1vh;
  margin-left: 60vh;
  margin-top: -40vh;
}
.logobarra {
  /*logo de EVA para la barra lateral*/
  width: 45vh;
}

.textobarra {
  width: 25vh;
  display: flex;
  margin-inline: 20vh;
  flex-direction: column;
  align-items: center;
  margin-top: -1vh;
}

.textobarra a {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.5s ease;
}

.textobarra a:hover {
  display: flex;
  text-decoration: none;
  color: #f9acbc;
}

.negrilla {
  font-weight: bold;
}

.inicioOp {
  /*div de los logos de inicio.html*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.logoinicio {
  /*logo de EVA*/
  width: 60vh;
  transition: transform 0.5s ease;
}

.logoinicio:hover {
  /*animación que al ponerle el mouse encima se agranda el logo de EVA*/
  transform: scale(1.1);
}
.logoinicio1 {
  /*logo de EVA sin animación*/
  width: 60vh;
}

.textoinicio {
  display: flex;
  margin: 2vh;
}

.textoinicio a {
  display: flex;
  margin-inline: 10vh;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.5s ease;
}

.textoinicio a:hover {
  display: flex;
  margin-inline: 10vh;
  text-decoration: none;
  color: #f9acbc;
}

.redes {
  display: flex;
}
/*logos de redes sociales*/
.wp {
  width: 4vh;
  height: auto;
}
.fb {
  width: 4vh;
  height: auto;
}
.ig {
  width: 4vh;
  height: auto;
}



#fecha-div {
  font-weight: bold;
  font-size: 9px;
  display: flex;
  position: absolute;
  top: 5vh;
  left: 80vh;
  width: 25vh;
  display: flex;
  margin-inline: 20vh;
  align-items: right;
  margin-top: -1vh;
}

.texto-citas {
  font-weight: bold;
  font-size: 9px;
  display: flex;
  position: absolute;
  top: 5vh;
  left: 80vh;
  width: 25vh;
  display: flex;
  margin-inline: 20vh;
  align-items: right;
  margin-top: -1vh;
}

.texto_inicio_empleado {
  /*inicio empleado*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

.boton_inicio_empleado {
  /*boton inicio de empleado*/
  border-radius: 1vh;
  padding: 0.5vh;
  font-size: 2.5vh;
  border: none;
  text-align: center;
}

.btn_ventas_historial {
  font-weight: bold;
  background-color: #d458ff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.9vh 2.2vh;
  text-decoration: none;
  font-size: 3vh;
  margin: 0.01vh 0.1vh;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8vh;
  width: 20vh;
  height: 6vh;
}

.btn_ventas_registrar {
  font-weight: bold;
  background-color: #ffaafc;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.9vh 2.2vh;
  text-decoration: none;
  font-size: 3vh;
  margin: 0.01vh 0.1vh;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8vh;
  width: 29%;
  height: 6vh;
  display: flex;
}

.ventas {
  position: relative;
  right: 25vh;
}

.ventas h1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 13.5vh;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 4vh;
  line-height: 39px;

  color: #000000;
}

.ventas input {
  margin: auto;
  position: relative;
  top: -5vh;
  width: 90%;
  height: 6vh;
  border-radius: 1vh;
  border: none;
}

.label_ventas {
  background-color: #b795ff;
  width: 85%;
  height: 3vh;
  border-radius: 1vh;
  font-size: 3vh;
  color: black;
  position: relative;
  top: -4vh;
  padding: 3vh;
  position: relative;
  font-family: inherit;
}

.label_ventas label {
  position: relative;
  top: -1vh;
  font-weight: lighter;
}

.btn_ventas {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 85%;
  left: 40%;
  width: 50%;
}
.formcontacto {
  width: 30vh;
  height: 40vh;
  display: flex;
  padding: 20px;
  background-color: #f9acbc;
  border-radius: 20px;
  margin-left: 160vh;
  margin-right: 10vh;
  margin-top: -40vh;
}

.fieldsetformbaby {
  border: 1px solid #f9acbc;
  padding: 1vh;
  margin-bottom: 2.7vh;
  padding-left: 3vh;
}

.legendbaby {
  margin-inline: 5vh;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1.3vh;
}
.labelbaby {
  font-size: 8px;
  color: #333;
  width: 13.9vh;
  margin-right: 1.3vh;
  font-weight: bold;
}

.formulario-iniciobaby input[type="text"],
.formulario-email,
.textopregunta {
  font-size: 8px;
  width: 41.9vh;
  padding: 0.6vh;
  border: 1px solid #f9acbc;
  border-radius: 0.6vh;
  margin-bottom: -5vh;
  max-width: 23vh;
  background-color: #ffffff;
}

.textopregunta {
  height: 10vh;
}

.botonbaby[type="submit"] {
  padding: 0.6vh 2vh;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  margin-inline: 7vh;
  margin-top: 5vh;
}

.botonbaby:hover[type="submit"]:hover {
  background-color: #7e7e7e;
  color: #ffffff;
}
.divformbaby {
  position: relative;
  top: 5vh;
  left: 1vh;
  width: 30vh;
  height: 20vh;

}


#ventana-baby {
  position: fixed;
  top: 10%;
  left: 45%;
  background-color: #93D6F0;
  opacity: 0.9;
  transition: opacity 1s ease;
  padding: 2.79vh;
  border: 1px solid #883ff6;
  border-radius: 10px;
  display: none;
  z-index: 9999;
  width: 40vh;
  height: 30vh;
}
#textoemergentebaby {
  font-size: 2vh;
  display: flex;
  position: absolute;
  top: 1.2vh;
  left: -16vh;
  width: 40vh;
  display: flex;
  margin-inline: 20vh;
  align-items: right;
  margin-top: -1vh;
}
.botonformbaby {
  font-size: 2vh;
  position: relative;
  left: 15vh;
  top: 5vh;
  font-weight: bold;
  background: none;
  border: none;
  color: white;
}
.logoXx {
  width: 4vh;
  height: 4vh;
  position: absolute;
  right: 1vh;
  top: 1vh;
  cursor: pointer;
}

.formulario-datosbebe input{
  font-size: 12px;
  width: 41.9vh;
  padding: 0.3vh;
  border: 1px solid #f9acbc;
  border-radius: 0.6vh;
  margin-bottom: -2vh;
  max-width: 23vh;
  background-color: #ffffff;
}

.botondatosbebe {
  font-size: 2vh;
  position: relative;
  left: 27vh;
  top: -2vh;
  font-weight: bold;
  background: none;
  border: none;
  color: black;
}

.labelformbaby {
  position: relative;
  top: -3vh;
  font-size: 10px;
  color: #333;
  width: 13.9vh;
  margin-right: 1.3vh;
  font-weight: bold;
}

.action-buttons {
  display: flex;
  justify-content: center;
}
.action-button {
  display: flex;
  justify-content: center;
}
.tabla {
  position: relative;
  top: 8vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vh;
  align-items: center;
}
.la_tabla {
  width: 100vh;
  border-collapse: collapse;
  margin-top: 2vh;
  color: black;
  text-align: center;
  background-color: white;
  overflow: auto;
  max-height: 80vh;

}
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.5vh;
  justify-content: center;
  text-align: center;
  padding: 1vh;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}
.logoborrarcita {
  width: 5vh;
  padding: 0.5vh;
  cursor: pointer;
}
.logoborrarcita:hover {
  transform: scale(1.1);
}
.logoeditarcita {
  width: 5vh;
  height: 5vh;
  padding: 0.5vh;
  cursor: pointer;
}
.logoeditarcita:hover {
  transform: scale(1.1);
}
.botoncitas {
  font-weight: bold;
  background-color: #F2C2C2;
  color: rgb(0, 0, 0);
  border: none;
  padding: 1vh;
  text-decoration: none;
  font-size: 1.6vh;
  margin: 1vh;
  cursor: pointer;
  border-radius: 1vh;
}
#fecha-div {
  font-size: 3vh;
  display: flex;
  position: absolute;
  top: 5vh;
  left: 82.5vh;
  width: 70vh;
  display: flex;
  margin-top: -1vh;
  font-weight: 600;
}

#ventana-editarcita {
  position: fixed;
  top: 10%;
  left: 45%;
  background-color: #F9ACBC;
  opacity: 0.9;
  transition: opacity 1s ease;
  padding: 2.79vh;
  border: 1px solid #F5E4DC;
  border-radius: 10px;
  display: none;
  z-index: 9999;
  width: 70vh;
  height: 40vh;
}

#ventana-editarcita div.tablacitas {
  font-size: 1.6vh;
  overflow: auto;
  max-height: 80vh;
  position: absolute;
  left: 10vh;
  top: 10vh;
  border-collapse: collapse; /* para que los bordes de las celdas se fusionen */
  width: 100vh; /* ancho de la tabla */
}
.la_tablapopup {
  width: 60vh;
  border-collapse: collapse;
  margin: 2vh;
  color: black;
  text-align: center;
  background-color: white;
  overflow: auto;
  max-height: 80vh;

}


.logoX {
  width: 4vh;
  height: 4vh;
  position: absolute;
  right: 1vh;
  top: 0.1vh;
  cursor: pointer;
}
#textoemergente {
  font-size: 2vh;
  display: flex;
  position: absolute;
  top: 1.2vh;
  left: -16vh;
  width: 40vh;
  display: flex;
  margin-inline: 20vh;
  align-items: right;
  margin-top: -1vh;
}
#textomiscitas {
  font-size: 3vh;
  display: flex;
  position: absolute;
  top: 5vh;
  left: 62vh;
  width: 28vh;
  display: flex;
  margin-inline: 20vh;
  align-items: right;
  margin-top: -1vh;
  font-weight: 600;
}
.la_tabla thead {
  background-color: #F9ACBC;
  border-bottom: 1vh solid #DE99A7;
}

.la_tabla td {
  font-weight: 500;
  font-size: 1.8vh;
}

.la_tabla th {
  color: #fff;
  font-size: 2.5vh;
  line-height: 6vh;
  font-weight: 500;
}

.la_tabla tr{

}

.la_tabla tr:nth-child(even) {
  background-color: #dddddd;
}

.la_tablapopup {
  width: 60vh;
  border-collapse: collapse;
  margin: 2vh;
  color: black;
  text-align: center;
  background-color: white;
  overflow: auto;
  max-height: 80vh;

}

.la_tablapopup thead {
  background-color: #F9ACBC;
  border-bottom: 1vh solid #F5E4DC;
}

.la_tablapopup td {
  font-weight: 500;
  font-size: 1.8vh;
}

.la_tablapopup th {
  color: #fff;
  font-size: 2.5vh;
  line-height: 6vh;
  font-weight: 500;
}

.la_tablapopup tr{

}

.la_tablapopup tr:nth-child(even) {
  background-color: #dddddd;
}

.tabla h1 {
  padding-bottom: 3vh;
  font-weight: 600;
  font-size: 3vh;
  line-height: 3vh;
  color: black;
  justify-content: left;
}

.tablabtn {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100vh;
}

.tablabtn button {
  font-size: 2.5vh;
  font-weight: 500;
  cursor: pointer;
}

.tablabtn button:hover {
  transform: scale(1.1);
  color: white;
}
.table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inicio_empleado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inicio_empleado legend {
  font-size: 3vh;
  margin: 1vh;
  letter-spacing: 0.15em;
  font-weight: 400;
}

.inicio_empleado input {
  background-color: #F5E4DC;
  padding: 1vh;
  width: 40vh;
  height: 3vh;
  margin: 1vh;
  border-radius: 0.8vh;
  border: 1px solid white;
  font-size: 2.5vh;
  font-weight: 300;
}

.inicio_empleado button {
  margin: 3vh;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 2.5vh;
  font-weight: 400;
  line-height: 0.15em;
  color: black;
}

.inicio_empleado button:hover {
  color: #ffd600;
  cursor: pointer;
}

