<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EVA - Usuarios</title>
    <link rel="stylesheet" href="/css/stylesbebe.css" />
  </head>

  <body>
    <section class="homecitas">
      <div class="textobarra">
        <img
          class="logobarra"
          src="/imagenes/logo-eva-bebe.png"
          alt="logo-eva"
        />
        <a href="/vistas/EVA-bebe/cliente/BEBE_agendarcita.html">
          <h1>Agendar cita</h1>
        </a>
        <a href="#">
          <h1 class="negrilla">Mis citas</h1>
          <br /><br /><br />
        </a>
        <a href="/index.html">
          <h1>Cerrar sesión</h1>
        </a>
        <div class="barra"></div>
      </div>
      <div class="texto-citas">Mis citas</div>

      <div class="table">
        <table>
          <thead>
            <tr>
              <th>TIPO</th>
              <th>DOCTOR</th>
              <th>HORA</th>
              <th>OPCION</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="cita: ${citas}">
              <td th:text="${cita.tipo}"></td>
              <td th:text="${cita.doctor}"></td>
              <td th:text="{cita.hora}"></td>
              <td><button>RESERVAR</button></td>
            </tr>
            <tr th:each="cita: ${citas}">
              <td th:text="${cita.tipo}"></td>
              <td th:text="${cita.doctor}"></td>
              <td th:text="{cita.hora}"></td>
              <td><button>RESERVAR</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
