<!DOCTYPE html>
<html lang="en">
  <script>
    function mostrarFechaActual() {
      let fecha = new Date(); // Obtiene la fecha actual
      let dia = fecha.getDate(); // Obtiene el día del mes (1-31)
      let mes = fecha.getMonth() + 1; // Obtiene el mes (0-11, por lo que se le suma 1)
      let anio = fecha.getFullYear(); // Obtiene el año (ej: 2022)
      let fechaActual = "Agendar cita dia: " + dia + "/" + mes + "/" + anio; // Crea la cadena de texto que muestra la fecha actual
      document.getElementById("fecha-div").innerHTML = fechaActual; // Inserta la cadena de texto en el div
    }
    function mostrarVentanaEmergenteBaby() {
      var ventanaEmergente = document.getElementById("ventana-baby");
      ventanaEmergente.style.display = "block";
    }

    function ocultarVentanaEmergenteBaby() {
      var ventanaEmergente = document.getElementById("ventana-baby");
      ventanaEmergente.style.display = "none";
    }
  </script>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EVA - Usuarios</title>
    <link rel="stylesheet" href="/css/stylesbebe.css" />
  </head>

  <body onload="mostrarFechaActual();">
    <section class="homecitas">
      <div class="textobarra">
        <img
          class="logobarra"
          src="/imagenes/logo-eva-bebe.png"
          alt="logo-eva"
        />
        <a href="/vistas/EVA-bebe/cliente/BEBE_agendarcita.html">
          <h1 class="negrilla">Agendar cita</h1>
        </a>
        <a href="/vistas/EVA-bebe/cliente/BEBE_historialcitas.html">
          <h1>Mis citas</h1>
          <br /><br /><br />
        </a>
        <a href="/index.html">
          <h1>Cerrar sesión</h1>
        </a>
        <div class="barra"></div>
      </div>
      <div id="fecha-div"></div>

      <div class="table">
        <table>
          <thead>
            <tr>
              <th>TIPO</th>
              <th>DOCTOR</th>
              <th>HORA</th>
              <th>OPCION</th>
            </tr>
          </thead>
          <tbody>
          <tr th:each="cita: ${citas}">
            <td th:text="${cita.tipo}"></td>
            <td th:text="${cita.doctor}"></td>
            <td th:text="{cita.hora}"></td>
            <td>
              <button onclick="mostrarVentanaEmergenteBaby()" >RESERVAR</button>
            </td>

            <td th:text="${cita.tipo}"></td>
            <td th:text="${cita.doctor}"></td>
            <td th:text="{cita.hora}"></td>
            <td>
              <button>RESERVAR</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="ventana-baby">
        <div id="textoemergente" class="negrilla">
          Responda la siguiente pregunta:<br />
          ¿Pertenece a una EPS?
        </div>

        <img
                class="logoX"
                src="/imagenes/LogoX.png"
                onclick="ocultarVentanaEmergenteBaby()"
        /><img />
    </section>
  </body>
</html>
