<!DOCTYPE html>
<html lang="en">
<script>
  function mostrarFechaActual() {
    let fecha = new Date(); // Obtiene la fecha actual
    let dia = fecha.getDate(); // Obtiene el día del mes (1-31)
    let mes = fecha.getMonth() + 1; // Obtiene el mes (0-11, por lo que se le suma 1)
    let anio = fecha.getFullYear(); // Obtiene el año (ej: 2022)
    let fechaActual = "Agendar cita dia: " + dia + "/" + mes + "/" + anio; // Crea la cadena de texto que muestra la fecha actual
    document.getElementById("fecha-div").innerHTML = fechaActual; // Inserta la cadena de texto en el div
  }
</script>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EVA - Usuarios</title>
    <link rel="stylesheet" href="/css/stylesbebe.css" />
  </head>

  <body>
    <section class="homecitas">
      <div class="textobarra">
        <img
          class="logobarra"
          src="/imagenes/logo-eva-bebe.png"
          alt="logo-eva"
        />
        <a href="/vistas/EVA-bebe/cliente/BEBE_agendarcita.html">
          <h1>Agendar cita</h1>
        </a>
        <a href="/vistas/EVA-bebe/cliente/BEBE_historialcitas.html">
          <h1>Mis citas</h1>
        </a>
        <a href="/vistas/EVA-bebe/cliente/BEBE_historialdepagos.html">
          <h1 class="negrilla">Historial de pagos</h1>
          <br /><br /><br />
        </a>
        <a href="/index.html">
          <h1>Cerrar sesión</h1>
        </a>
        <div class="barra"></div>
      </div>
      <div class="tabla" id="tablacontenedor">
        <h1>Historial de pagos</h1>
        <table class="la_tabla" id="tablapagos">
          <thead>
          <tr>
            <th>NOMBRE</th>
            <th>CANTIDAD</th>
            <th>TOTAL</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="pagos: ${pago}">
            <td th:text="{pago.nombre}"></td>
            <td th:text="{pago.cantidad}"></td>
            <td th:text="{pago.total}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
